// colors

$main-color: rgba(132, 161, 120, 1);
$green-color: rgba(10, 136, 23, 1);
$black-color: rgba(19, 19, 19, 1);
$how-its-made-yellow1: rgba(248, 210, 78, 1);
$how-its-made-yellow07: rgba(248, 210, 78, 0.7);
$galery-green-color: rgba(174, 198, 165, 1);
$galery-yellow-color: rgba(239, 212, 120, 1);
$galery-brown-color: rgba(214, 147, 109, 1);
$white-color: rgba(252, 252, 252, 1);

// Fonts

$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Seymour One', sans-serif;
$third-font: 'Roboto', sans-serif;