body {
  font-family: $main-font;
  color: $black-color;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.button {
  cursor: pointer;
}

a {
  font-style: normal;
  text-decoration: none;
}

section {
  display: block;
}
