body {
  font-family: $main-font;
  color: $black-color;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  padding-left: 0px;
  margin: 0;
  list-style: none;
}

.button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}
