<section class="about">
    <label for="about__title" class="about__label">tradition and love</label>
    <h2 class="about__title" id="about__title">how it’s made?</h2>
    <div class="cow">
        <picture>
            <source srcset="../images/about-img/cow-des-1x.png 1x,                                                               
                            ../images/about-img/cow-des-2x.png 2x" media="(min-width:1200px)" />
            <source srcset="../images/about-img/cow-tab-1x.png 1x,                                
                            ../images/about-img/cow-tab-2x.png 2x" media="(min-width:768px)" />
            <source srcset="../images/about-img/cow-mob-1x.png 1x,                                                                                 
                            ../images/about-img/cow-mob-1x.png 2x" media="(max-width:767px)" />
            <img class="cow__img" src="../images/about-img/cow-mob-1x.png" alt="Cow">
        </picture>
    </div>
    <p class="about__text"></p>
    <p class="about__text"></p>
    <p class="about__text"></p>

</section>