<!-- <section class="advantages-section">
  <div class="advantages-section__container container">
    <h2 class="visually-hidden">advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-list__item">
        <svg class="advantages-list__icon" width="36" height="36">
          <use href="./images/svg/symbol-defs.svg#cow"></use>
        </svg>
        <h3 class="advantages-list__title">721</h3>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages-list__item">
        <svg class="advantages-list__icon" width="36" height="36">
          <use href="./images/svg/symbol-defs.svg#weight"></use>
        </svg>
        <h3 class="advantages-list__title">16kg</h3>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages-list__item">
        <svg class="advantages-list__icon" width="36" height="36">
          <use href="./images/svg/symbol-defs.svg#ice-cream"></use>
        </svg>
        <h3 class="advantages-list__title">84</h3>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section> -->
