<section class="contacts">
    <div class="container">
        <h1 class="is-hidden">Contacts</h1>
        <div class="contacts__position">
            <div class="contacts__box">
                <h3 class="contacts__category title-margin">CAFE</h3>
                <div class="contacts__wrap">
                    <address class="contacts__address">
                        <p class="contacts__title">Chicago</p>
                        <a class="link contacts__maps" href="https://goo.gl/maps/p8U3hh2XQh2h5NRc6">10340 Ridgeland
                            Ave,<br />
                            Chicago Ridge, IL 60415, USA</a>
                    </address>
                    <div class="contacts__timetable">
                        <h3 class="contacts__title">Monday - Friday</h3>
                        <p class="contacts__text text-margin">06:00 AM - 10:00 PM</p>
                        <h3 class="contacts__title">Saturday - Sunday</h3>
                        <p class="contacts__text">08:00 AM - 16:00 PM</p>
                    </div>
                    <div class="contacts__connect">
                        <a class="link connect-text" href="tel:+61(0) 383 766 284">
                            +61(0) 383 766 284
                        </a>
                        <a class="link connect-text" href="mailto:noreply@envato.com">
                            noreply@envato.com
                        </a>
                    </div>
                </div>
            </div>
            <div class="contacts__box">
                <h3 class="contacts__category title-margin title-margin-child">
                    FOODTRUCK
                </h3>
                <div class="contacts__wrap">
                    <address class="contacts__address">
                        <p class="contacts__title">Los Angeles</p>
                        <a class="link contacts__maps" href="https://goo.gl/maps/zUMGxTDcrdCCJbGz6">1003 Manhattan Ave,
                            Manhattan<br />
                            Beach, CA 90263, USA</a>
                    </address>
                    <div class="contacts__timetable">
                        <h3 class="contacts__title">Monday - Friday</h3>
                        <p class="contacts__text text-margin">06:00 AM - 10:00 PM</p>
                        <h3 class="contacts__title">Saturday - Sunday</h3>
                        <p class="contacts__text">08:00 AM - 16:00 PM</p>
                    </div>
                    <div class="contacts__connect">
                        <a class="link connect-text" href="tel:+61(0) 383 766 284">
                            +61(0) 383 766 284
                        </a>
                        <a class="link connect-text" href="mailto:noreply@envato.com">
                            noreply@envato.com
                        </a>
                    </div>
                </div>
            </div>
            <div class="contacts__box">
                <h3 class="contacts__category title-margin">CAFE</h3>
                <div class="contacts__wrap">
                    <address class="contacts__address">
                        <p class="contacts__title">New York</p>
                        <a class="link contacts__maps" href="https://goo.gl/maps/1Fg593fFjVdmG32Z9">726 Sterling Pl,
                            Brooklyn,<br>NY
                            11222, USA</a>
                    </address>
                    <div class="contacts__timetable">
                        <h3 class="contacts__title">Monday - Friday</h3>
                        <p class="contacts__text text-margin">06:00 AM - 10:00 PM</p>
                        <h3 class="contacts__title">Saturday - Sunday</h3>
                        <p class="contacts__text">08:00 AM - 16:00 PM</p>
                    </div>
                    <div class="contacts__connect">
                        <a class="link connect-text" href="tel:+61(0) 383 766 284">
                            +61(0) 383 766 284
                        </a>
                        <a class="link connect-text" href="mailto:noreply@envato.com">
                            noreply@envato.com
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="contacts__btn">
            <button class="contacts__btn-location" data-modal-loc-open>
                <p>
                Our Locations
                </p>
                <svg class="contacts__btn-svg" width="7" height="10">
                    <use href="./images/svg/symbol-defs.svg#button-arrow"></use>
                </svg>
            </button>
            <button class="contacts__btn-franchise" data-modal-loc-open>
                <p>
                Franchise
                </p>
                <svg class="contacts__btn-svg" width="7" height="10">
                    <use href="./images/svg/symbol-defs.svg#button-arrow"></use>
                </svg>
            </button>
        </div>
    </div>
</section>