<footer class="footer">
    <div class="container">
        <h2 class="footer__first">homemade ice cream made</h2>
        <h2 class="footer__second">with passion</h2>
    </div>
    <div class="container">
        <ul class="footer__item">
            <li class="footer__list">
                <a class="icons__link" href="">
                    <svg class="icons__svg" width="32px" height="32px">
                        <use href="./images/svg/symbol-defs.svg#github">
                        </use>
                    </svg>
                </a>
            </li>
            <li class="footer__list">
                <a class="icons__link" href="">
                    <svg class="icons__svg" width="32px" height="32px">
                        <use href="./images/svg/symbol-defs.svg#telegram">
                        </use>
                    </svg>
                </a>
            </li>
            <li class="footer__list">
                <a class="icons__link" href="">
                    <svg class="icons__svg" width="32px" height="32px">
                        <use href="./images/svg/symbol-defs.svg#facebook" >
                        </use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
    <div class="footer__contact container">
        <p class="contact__text">Feel free to contact
            <a class="contact__tel" href="tel:+610383766284">+61 (0) 383 766 284</a>
        </p>
    </div>
    <div class="footer__box">
        <div class="footer__right container">
            <p>© 2022 - IceCream.</p>
            <p>All Rights Reserved.</p>
        </div>
    </div>
        
        
        
        
</footer>