<section class="gallery">
  <picture>
    <source
      srcset="
        /src/images/gallery/gallery-icecream-desktop.png    1x,
        /src/images/gallery/gallery-icecream-desktop-2x.png 2x
      "
      media="(min-width:1200px)"
    />

    <source
      srcset="
        /src/images/gallery/gallery-icecream-tab.png    1x,
        /src/images/gallery/gallery-icecream-tab-2x.png 2x
      "
      media="(min-width:768px)"
    />
    <source
      srcset="
        /src/images/gallery/gallery-icecream-mobile.png    1x,
        /src/images/gallery/gallery-icecream-mobile-2x.png 2x
      "
      media="(max-width:767px)"
    />
    <img
      class="gallery-img"
      src="/src/images/gallery/gallery-icecream-mobile.png "
      alt="ice-cream"
    />
  </picture>
</section>
