<section class="gallery">
  <div class="gallery-container">
    <div class="gallery-slides">
      <input type="radio" name="common" id="gallery-btn1" checked />
      <input type="radio" name="common" id="gallery-btn2" />
      <input type="radio" name="common" id="gallery-btn3" />

      <div class="gallery-slides-image first">
        <picture class="gallery-images">
          <source
            srcset="
              /src/images/gallery/gallery-icecream-tab.png    1x,
              /src/images/gallery/gallery-icecream-tab-2x.png 2x
            "
            media="(min-width:1200px)"
          />

          <source
            srcset="
              /src/images/gallery/gallery-icecream-tab.png    1x,
              /src/images/gallery/gallery-icecream-tab-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              /src/images/gallery/gallery-icecream-mobile.png    1x,
              /src/images/gallery/gallery-icecream-mobile-2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="gallery-img"
            src="/src/images/gallery/gallery-icecream-mobile.png "
            alt="ice-cream"
          />
        </picture>
      </div>
      <div class="gallery-slides-image">
        <img
          class="gallery-img"
          src="/src/images/gallery/slide2-2x.png"
          alt="ice-cream"
        />
      </div>
      <div class="gallery-slides-image">
        <img
          class="gallery-img"
          src="/src/images/gallery/slide3-2x.png "
          alt="ice-cream"
        />
      </div>

      <div class="gallery-navigator">
        <label for="gallery-btn1" class="gallery-bar"></label>
        <label for="gallery-btn2" class="gallery-bar"></label>
        <label for="gallery-btn3" class="gallery-bar"></label>
      </div>
    </div>
  </div>
</section>
