<header class="header">
        <div class="container header__container">
            <div class="menu-logo-box">
                <a class="logo link" href="#">
                    <img srcset="./images/svg/hero-header-image/logo-x1.png 1x, ./images/svg/hero-header-image/logo-x2.png 2x, ./images/svg/hero-header-image/logo-x3.png 3x" src="./images/svg/hero-header-image/logo-x1.png" alt="logo-image" width="40">
                </a>
                <button class="menu-button" type="button">
                    <svg width="32" height="32">
                        <use class="icon-menu" href="./images/svg/hero-header-image/icons.svg#menu"></use>
                        <use class="icon-cross" href="./images/svg/hero-header-image/icons.svg#cross"></use>
                    </svg>
                </button>
            </div>
            <div class="mobile-menu" data-menu>
                <nav>
                    
                </nav>
                <button class="button-modal-mobile" type="button"><span class="button-modal__text">Buy now</span>
                    <svg width="12" height="12">
                        <use class="button-modal__icon" href="./images/svg/hero-header-image/icons.svg#arrow-button"></use>
                    </svg>
                </button>
            </div>
            <h1 class="main-text">Ice cream made with <span class="main-text--bigger">passion</span></h1>
            <ul class="sale-area list">
                <li><span>16</span><span>cafes</span></li>
                <li><span>23</span><span>food trucks</span></li>
            </ul>
            <ul class="product list">
                <li><button class="product__button1" type="button"><span class="product__button1--text">Products</span></button></li>
                <li><button class="product__button2" type="button"><span class="product__button2--text">How it's made</span></button></li>
            </ul>
            <img class="icecream-image" src="./images/svg/hero-header-image/ice-cream_x1.png" alt="icecream">
            <a class="plate link" href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, quae.
                <svg width="40" height="14.5">
                    <use class="plate__icon" href="./images/svg/hero-header-image/icons.svg#arrow-default"></use>
                </svg>
                <img class="plate__image" src="#" alt="plate">
            </a>
        </div>
    </header>