<!-- <button type="button" class="" data-modal-loc-open>OPEN Loc</button>
<button type="button" class="" data-modal-read-open>OPEN Read</button> -->
<div class="md-backdrop md-is-hidden" data-modal-loc>
  <div class="modal-loc">
    <button type="modal-btn" class="modal-btn__close" data-modal-loc-close>
      <svg class="modal__x" width="16" height="16">
        <use href="./images/svg/symbol-defs.svg#close"></use>
      </svg>
    </button>
    <p class="modal__title">Our Locations</p>
    <picture class="img-location">
      <source
        srcset="
          ./images/img-modal/location-modal-desk-1x-min.jpg 1x,
          ./images/img-modal/location-modal-desk-2x-min.jpg 2x
        "
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/img-modal/location-modal-tel-1x-min.jpg 1x,
          ./images/img-modal/location-modal-tel-2x-min.jpg 2x
        "
        media="(max-width:767px)"
      />
      <img
        srcset="
          ./images/img-modal/location-modal-tel-1x-min.jpg 1x,
          ./images/img-modal/location-modal-tel-2x-min.jpg 2x
        "
        alt="map"
      />
    </picture>
    <a href="https://goo.gl/maps/kHEUH2ysdG3e8zPK7" class="modal-loc__link"
      >Open map</a
    >
  </div>
</div>

<div class="md-backdrop md-is-hidden" data-modal-read>
  <div class="modal-read">
    <button type="modal-btn" class="modal-btn__close" data-modal-read-close>
      <svg class="modal__x" width="16" height="16">
        <use href="./images/svg/symbol-defs.svg#close"></use>
      </svg>
    </button>
    <p class="modal__title">How it’s made?</p>
    <iframe
      class="video"
      width="560"
      height="315"
      src="https://www.youtube.com/embed/zagD0LQdsDE"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <p class="modal__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>

<!-- <script src="./js/modal-loc.js"></script> -->
<!-- <script src="./js/modal-read.js"></script> -->
