<section class="products">
  <div class="container">
    <div class="title-wrap">
      <p class="products__pre-title">100% natural</p>
      <h2 class="products-title">Products</h2>
    </div>

    <ul class="product-list">
      <li class="products-item">
        <div class="item-wrap">
          <h3 class="item-title">Ice cream</h3>
          <p class="item-text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
          <button class="product-btn" type="button"></button>
        </div>
      </li>
      <li class="products-item">
        <div class="item-wrap">
          <h3 class="item-title">Ice coffee</h3>
          <p class="item-text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <button class="product-btn" type="button"></button>
        </div>
      </li>
      <li class="products-item">
        <div class="item-wrap">
          <h3 class="item-title">Milkshakes</h3>
          <p class="item-text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
          <button class="product-btn" type="button"></button>
        </div>
      </li>
    </ul>
  </div>
</section>
