<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex;flex-direction: column;">
        <svg width="40" height="40" aria-label="test">
            <use class="pages__icon-menu" href="../images/svg/symbol-defs.svg#cow"></use>
        </svg> cow
        <svg width="40" height="40" aria-label="test">
            <use class="pages__icon-menu" href="../images/svg/symbol-defs.svg#facebook"></use>
        </svg>facebook
        <svg width="40" height="40" aria-label="test">
            <use class="pages__icon-menu" href="../images/svg/symbol-defs.svg#github"></use>
        </svg>github
        <svg width="40" height="40" aria-label="test">
            <use class="pages__icon-menu" href="../images/svg/symbol-defs.svg#ice-cream"></use>
        </svg>ice-cream
        <svg width="40" height="40" aria-label="test">
            <use class="pages__icon-menu" href="../images/svg/symbol-defs.svg#telegram"></use>
        </svg>telegram
        <svg width="40" height="40" aria-label="test">
            <use class="pages__icon-menu" href="../images/svg/symbol-defs.svg#weight"></use>
        </svg>weight
        <svg width="40" height="40" aria-label="test">
            <use class="pages__icon-menu" href="../images/svg/symbol-defs.svg#burger-menu"></use>
        </svg>burger-menu
        <svg width="7" height="10" aria-label="test">
            <use class="pages__icon-menu" href="../images/svg/symbol-defs.svg#button-arrow"></use>
        </svg>button-arrow
        <svg width="20" height="20" aria-label="test">
            <use class="pages__icon-menu" href="../images/svg/symbol-defs.svg#close"></use>
        </svg>close
    </div>
</body>
</html>