.visually-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin-top: -1px;
}

.advantages-section {
  background-color: #84a178;
}

.advantages-list {
  padding-top: 42px;
  padding-right: 45px;
  justify-content: center;
  align-items: center;
}

.advantages-list__title {
  position: absolute;
  text-align: center;
  font-family: $third-font;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $white-color;
}

.advantages-list__text {
  position: absolute;
  justify-content: center;
  text-align: center;
  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(20 / 12);
  color: $white-color;
}

.advantages-list__item {
  width: 50px;
  height: 50px;
  left: 0px;
  top: 0px;
  justify-content: center;
  align-items: center;
  background-color: $how-its-made-yellow1;
  border-radius: 25px;
  margin-bottom: 28px;
  &:last-child {
    margin-bottom: 0;
  }
}

.advantages-list__icon {
  align-items: center;
  justify-content: center;
}
