.customer-reviews{
  background-image: url(/src/images/svg/Мороженое\ фон.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  padding-top: 186px;
}
.swiper {
  
  width: 400px;
  height: 200px;
}
.swiper-pagination-bullet{
  background-color: #84A178;
  width: 12px;
  height: 12px;
}
.swiper-pagination-bullet-active {
  background-color: #84A178;
}