.footer {
    width: 100%;
    background: ($main-color);
    padding-top: 38.9px;

    @include tablet {
        padding-top: 40px;
    }

    @include desktop {
        padding-top: 120px;
    }
}

.footer__special {
    margin-bottom: 38px;

    @include tablet {
        display: flex;
        margin-bottom: 56px;
    }

    @include desktop {
        margin-bottom: 60px;
    }

}

.footer__tittle {
    max-width: 232px;
    margin-left: 0;
    height: 100%;

    @include tablet {
        width: 100%;
        max-width: 358px;
        margin-left: 0;
    }

    @include desktop {
        width: 100%;
        max-width: 504px;
    }
}

.footer__first {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;
    color: ($white-color);

    margin-bottom: 16px;

    @include tablet {
        font-size: 26px;
        line-height: 1.22;
        margin-bottom: 9px;
    }

    @include desktop {
        font-weight: 400;
        font-size: 30px;
        line-height: 1.23;
        margin-bottom: 14px;
    }

}

.footer__second {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.20;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: ($white-color);

    @include tablet {
        font-size: 48px;
        line-height: 1.23;
    }

    @include desktop {
        font-size: 58px;
        line-height: 1.22;
    }
}

.footer__itm {
    margin-top: 42px;

    @include tablet {
        margin-top: 68px;
        margin-left: auto;
    }

    @include desktop {
        margin-top: 12px;
        margin-left: auto;
    }
}

.footer__item {
    display: flex;
    gap: 28px;

    justify-content: end;
}

.footer__icons-link {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    background-color: ($how-its-made-yellow1);

    @include tablet {
        width: 34px;
        height: 34px;
    }
}

.footer__icons {
    margin-bottom: 38px;

    @include tablet {
        margin-bottom: 39px;
    }

    @include desktop {
        margin-bottom: 40px;
    }
}

.footer__icons-svg {
    fill: #82a075;
    width: 32px;
    height: 32px;

    @include tablet {
        width: 34px;
        height: 34px;
    }
}

.footer__contact {
    text-align: end;
    text-decoration: none;
}

.footer__contact-text {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.86;
    @include tablet {
        font-size: 14px;
    }

    @include desktop {
        font-size: 16px;
    }
}

.footer__contact-tel {
    color: ($white-color);
    text-decoration: none;
}

.footer__right {
    text-align: center;

    @include tablet {
        display: flex;
        justify-content: center;
    }
}

.footer__right-text {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    color: #7A7A7A;

    @include desktop {
        font-size: 12px;
    }
}

.footer__box {
    padding-top: 16px;
    padding-bottom: 62px;
    border-top: 1px solid ($white-color);

    @include tablet {
        padding-top: 14px;
        padding-bottom: 13px;
    }

    @include desktop {
        padding-top: 11px;
        padding-bottom: 12px;
    }
}