.footer {
    width: 100%;
    background: ($main-color);
    padding-top: 38.9px;
}

.tittle {
    margin-bottom: 42px;
}

.footer__first {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;
    color: ($white-color);
    padding-bottom: 16px;

}

.footer__second {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.20;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: ($white-color);
}

.item {
    margin-bottom: 27px;
}

.footer__item {
    display: flex;
    gap: 28px;

    justify-content: end;
}

.icons__link {
    width: 32px;
    height: 32px;
    display: flex;
    border-radius: 50%;
    background-color: ($how-its-made-yellow1);
}

.icons__svg {
    fill: #82a075;
}

.contact {
    text-align: end;
    text-decoration: none;

    margin-bottom: 40px;
}

.contact__text {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
}

.contact__tel {
    color: ($white-color);
    text-decoration: none;
}

.right {
    text-align: center;

    padding-bottom: 62px;
}

.right__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    color: #7A7A7A;
}

.box {
    padding-top: 16px;
    border-top: 1px solid ($white-color)
}


.span__text{
    text-align: center;
    margin-left: 40px;
}
