.gallery{
    padding-left: 20px;
    padding-right: 21px;
    background: linear-gradient( #84A178 18%, #F5F5F5 0% );
    @media screen and (min-width: 768px){
      padding-left: 32px;
      padding-right: 32px;  
    background: linear-gradient(#84A178 50%, #F5F5F5 0%);
    }
     @media screen and (min-width: 1200px){
      padding-left: 93px;
      padding-right: 94px;  
    background: linear-gradient(#84A178 18%, #F5F5F5 0%);
    }
}
// img {
//     display: block;
//     width: 100%;
//     max-width: 100%;
//     height: auto;
// }
.gallery-img{
    border-radius: 8px;
    @media screen and (min-width: 768px) {
        border-radius: 18px;    
    }
     @media screen and (min-width: 1200px) {
        border-radius: 24px;    
    }
}
